$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);
#root {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "DM Sans", "Courier New", Courier, monospace;
	background-color: $cream;
}
.expenses-card {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 16px;
	width: 100vw;
	min-width: 300px;
	max-width: 540px;
	&__balance-slab {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		background-color: $soft-red;
		position: relative;
		padding: 32px;
		border-radius: 20px;
	}
	&__my-balance {
		font-size: 1rem;
		color: $very-pale-orange;
		margin-bottom: 14px;
	}
	& > div p:nth-child(2) {
		font-size: 2rem;
		font-weight: 700;
		color: $very-pale-orange;
	}

	&__circle {
		border-radius: 50%;
		position: relative;
		width: 45px;
		height: 45px;
		justify-self: right;
		align-self: center;
		background-color: $dark-brown;
		&::before {
			border: 2px solid $very-pale-orange;
			position: absolute;
			content: "";
			border-radius: 50%;
			width: inherit;
			height: inherit;
			left: -50%;
			box-sizing: border-box;
		}
	}
	&__expenses-chart-layout {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		gap: 36px;
		background-color: $very-pale-orange;
		border-radius: 10px;
		padding: 40px;
	}
	&__title {
		color: $dark-brown;
		font-size: 2rem;
		font-weight: 700;
	}
	&__chart-slab {
		display: flex;
		justify-content: space-evenly;
		align-items: flex-end;
		gap: min(12px, 4%);
		padding: 36px 0;
	}
	&__chart {
		position: relative;
		width: 100%;
		max-width: 50px;
		min-width: 25px;
		text-align: center;
	}
	&__chart-colum {
		height: 50px;
		background-color: $soft-red;
		border-radius: 4px;
		margin-bottom: 14px;
		&:hover {
			background-color: lighten($soft-red, 5%);
		}
		&:hover ~ .expenses-card__chart-spent {
			display: block;
		}
		.expenses-card__chart-spent:not(&:hover ~ 
		.expenses-card__chart-spent) {
			display: none;
		}
		&_max {
			background-color: $cyan;
			&:hover {
				background-color: lighten($cyan, 5%);
			}
		}
	}
	&__chart-day {
		color: $medium-brown;
		text-align: center;
		font-size: 0.8rem;
	}
	&__chart-spent {
		position: absolute;
		display:flex;
		justify-content:center;
		align-items: center;
		top: 0;
		left:50%;
		transform: translate(-50%,calc(-100% - 8px));
		font-size: clamp(0.5rem,min(2.36vw,0.8rem),0.8rem);
		font-weight: 700;
		padding: 10px 5px;
		width: 100%;
		color: $very-pale-orange;
		background-color: $dark-brown;
		border-radius: 5px;

	}
	&__total {
		color: $medium-brown;
		margin-bottom: 14px;
	}
	&__summary {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		& > div:nth-child(1) {
			font-size: 2.8rem;
			font-weight: 700;
			color: $dark-brown;
		}
		& > div:nth-child(2) {
			justify-self: right;
			text-align: right;
			color: $medium-brown;
			& > div:nth-child(1) {
				color: $dark-brown;
				font-weight: 700;
			}
		}
	}
}
